<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إيطاليا اليوم</title>
    <style>
        body {
            font-family: Arial, sans-serif; /* Utilisez une police qui prend en charge l'arabe */
            direction: rtl; /* Définissez la direction du texte comme droite à gauche */
            text-align: right; /* Alignez le texte à droite */
        }
    </style>
</head>
<body>
    <h1>إيطاليا اليوم</h1>

    <!-- Section pour les articles -->
    
    <div>
        <h3>Il Gazzettino</h3>
        <p>Title: أخبار حول القائمة والوصول والمشتركين والملف الشخصي

الاشتراكات
المصالح ، النشرات الإخبارية
فائدة ، اتصل بنا

تسجيل الدخول ، الصحيفة
Summary: قائمة طعام











الخميس 25 يناير - adj.22:49








وصول
مشتركين









حساب تعريفي

الاشتراكات
الاهتمام والإخطارات
النشرة الإخبارية
جدوى
اتصل بنا

تسجيل خروج


اقرأ الجريدة

</p>
    </div>
    
    <div>
        <h3>La Gazzetta dello Sport</h3>
        <p>Title: أخبار حول G+، الدراج إدارة الاشتراك الخاصة بك ، تسجيل الخروج ، GA
Summary: كرة القدم ركوب الدراجات تنس المحركات الرياضية الأخرى ... نتائج النتائج

</p>
    </div>
    
    <div>
        <h3>Metro</h3>
        <p>Title: أخبار عن البحث



البحث ، الطقس
        














 


 








            تحميل ، برجك
Summary: قريب



يبحث ...











النشرة الجوية
        














 


 








            تحميل

                إصدار
                نفخة
            





 
برجك اليوم

</p>
    </div>
    
</body>
</html>